@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css');

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700|Roboto:300,300i,400,400i');

body {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}

header {
  position: fixed;
  width: 1280px;
  top: 0px;
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  height: 70px;
  justify-content: center;
  box-shadow: 0px 2px 3px -2px rgba(50, 50, 50, 0.70);
}

.logo {
  width: 6.5%;
  height: 64%;
  background-image: url(images/bent-creek-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: flex-start;
}

nav {
  display: flex;
  justify-content: space-between;
  width:28%;
  height: 50%;
  align-items: center;
  font-family: 'Roboto';
  font-size: 1.2em;
  margin-right: 7%;
  text-transform: uppercase;
}

a {
  color: #968772;
}

a:hover {
  color: #967343;
}

a.navlink {
  color: #2B2F26;
}

a.navlink:hover {
  color: #CD5D67;
}

a.navlink:active {
  color: #968772;
}

a.active {
  color: #968772;
}

main {
  margin-top: 120px;
}

.main-heading-txt {
  font-family: 'Merriweather';
  font-weight: 400;
  font-size: 4.1em;
  text-align: center;
}

.sub-heading-txt {
  font-family: 'Merriweather';
  font-size: 2.25em;
  font-weight: 300;
  text-align: center;
  margin-top: -34px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 680px;
  width: 1260px;
  padding: 10px;
  margin-bottom: 10px;
}

.item {
  display: flex;
  margin: 10px;
  align-items: flex-end;
}

.item1 {
  width: 58%;
  height: 58%;
  background-image: url(images/product-1.jpg);
  background-size: cover;
}

.item2 {
  width: 18%;
  height: 58%;
  background-image: url(images/product-2.jpg);
  background-size: cover;
}

.item3 {
  width: 18%;
  height: 58%;
  background-image: url(images/product-3.jpg);
  background-size: cover;
}

.item4 {
  width: 18%;
  height: 38%;
  background-image: url(images/product-4.jpg);
  background-size: cover;
}

.item5 {
  width: 18%;
  height: 38%;
  background-image: url(images/product-5.jpg);
  background-size: cover;
}

.item6 {
  width: 38%;;
  height: 38%;
  background-image: url(images/product-6.jpg);
  background-size: cover;
}

.item7 {
  width: 18%;
  height: 38%;
  background-image: url(images/product-7.jpg);
  background-size: cover;
}

/* Animations */
.item:hover {
  -webkit-transition-property: border-radius, box-shadow;
  transition-duration: .5s;
  border-radius: 20px 20px 20px 0px;
  box-shadow: 0px 3px 3px 2px rgba(70, 70, 70, 0.70);
}

.item-note {
  font-family: 'Merriweather';
  color: #F2F1E8;
  background-color: #2b2f26;
  padding: 10px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #2b2f26;
  color: #F2F1E8;
  font-family: 'Merriweather';
  width: 100%;
}

.footer-txt {
  margin-left: 24px;
}

/* BEGIN: about page specific style */

.aboutMain {
  line-height: 260%;
  margin-top: 140px;
}

.upperContent {
  width: 860px;
  font-family: 'Merriweather';
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 60px;
}

.product-community {
  width: 160px;
  height: 120px;
  background-image: url(images/birdhouse.jpg);
  background-size: contain;
  float: left;
  margin: 0px 30px 30px 0px;
}

.missionStatement {
  font-style: italic;
  font-weight: 300;
}

.blockquoteWrapper {
  border-left: 2px solid #968772;
  margin-top: 30px;
  margin-bottom: 50px;
}

.historyTitle {
  font-weight: 300;
}

.roomToGrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/background-3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
  width: 1280px;
}

.roomToGrow-txt {
  font-family: 'Merriweather';
  color: #f2f1e8;
  font-size: 4.4em;
  font-weight: 400;
}

.lowerMain {
    width: 860px;
    font-family: 'Merriweather';
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.facilities {
  width: 78%;
  font-size: 1.0225em;
}

.facilitiesTitle {
  font-weight: 300;
}

.shelfSpace {
  width: 18%;
  margin-top: 100px;
  font-size: .6em;
  line-height: 200%;
}

.shelfSpacePic {
  width: 160px;
  height: 120px;
  background-image: url(images/background-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.monthlyPlans {
  width: 78%;
  margin-bottom: 60px;
}

.monthlyPlansTitle {
  font-weight: 300;
}

.monthlyPlansTable {
  border-color: #2b2f26;
  border-style: solid;
  border-width: thin;
  border-collapse: collapse;
  padding: 10px;
}

.monthlyPlansTableHead {
  text-align: center;
}

.tableDarker {
  background-color: #f2eadc;
}

/* END: about page specific style */

/* BEGIN newsletter page specific style */

.newsMain {
  height: 540px;
  width: 1280px;
  background-image: url(images/background-2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
}

.newsletterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsFormFieldset {
  width: 610px;
  height: 380px;
  background-color: white;
  margin-top: 44px;
  text-align: center;
  border: 0px;
}

.newsTitle {
  font-family: 'Merriweather';
  font-size: 1.8em;
  font-weight: 300;
  margin-top: 40px;
}

.newsSubtitle {
  font-family: 'Merriweather';
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 34px;
}

input {
  font-family: 'Roboto';
  font-size: 1.4em;
  width: 90%;
  border: none;
  margin: 20px 0;
  border-bottom: 2px solid #968772;
}

input:focus {
  border-bottom: 2px solid #967343;
}

.signupButton {
  border: none;
  margin-top: 16px;
  height: 54px;
  width: 124px;
  background-color: #968772;
  color: #F2F1E8;
}

.signupButton:hover {
  background-color: #967343;
  color: #FFFFFF;
}

/* END newsletter page specific style */
